button.disabled {
    pointer-events: none;
    opacity: 0.7;
}

#ToggleFormBtn {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
    background-color: #2b59b6;
    color: white; 
}

.btn-form {
    display: block;
    text-align: center;
    width: fit-content;
    background-color: #2b59b6;
    color: white; 
}

.btn-view {
    background-color: white;
    color: #2b59b6; 
    border: 1px solid #2b59b6;
}

.btn-form-1 {
    background-color: #2b59b6;
    color: white;
    border: none;
}

.btn-form-2 {
    background-color: #2b98b6;
    color: white;
    border: none;
}

.btn-form-3 {
    background-color: #ffA500;
    color: white;
    border: none;
}

/*gantt*/
#gantt-sidebar {
    width: 50vh;
    padding: 15px;
    border-right: 2px solid #ccc;
    overflow-y: auto;
    max-height: 80vh;
    background: #f8f8f8;
    font-size: 14px;
    resize: horizontal;
    overflow: auto;
}

#gantt-container {
    width: calc(100% - 90vh);
}

/* Resize for smaller screens */
@media screen and (max-width: 992px) {
    #gantt-container {
        width: 60%;
    }
}

#gantt-sidebar-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Allow column resizing */

}

#gantt-sidebar-table th {
    border-bottom: 2px solid #ccc;
    padding: 5px;
    min-width: 100px;
}

.phase-cell {
    font-weight: bold;
    padding-left: 10px;
}

.subphase-cell {
    font-weight: bold;
    padding-left: 20px;
}

.activity-phase-cell {
    padding-left: 15px; /* Indent to differentiate */
}

.activity-title-cell {
    cursor: pointer;
    padding-left: 10px;
}