.container {
    display : flex;
    position: relative;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.login-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 380px;
    max-height: 800px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.login-form {
    max-height: 350px;
}

.registration-form {
    max-height: 500px;
}

.form-group {
    margin-bottom: 0;
}

.form-group input {
    width: 100%;
    padding: 20px 10px 2px 10px !important;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #efefef;
    height: 50px !important;
    min-height: 50px !important;
    font-size: 15px;
}

.form-group input:focus {
    box-shadow: 0 0 1px 1px #FFD6BA;
    outline: none;
}

.form-group label {
    left: 5px;
    font-size: 14px;
    padding: 6px 13px;
    display: flex;
    align-items: center;
}

.form-group label::after {
    background-color: transparent !important;
}
  
.toggle-password {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 13px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #BEE3DB;
    border: none;
    border-radius: 15px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #89B0AE;
}

.register {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
}

.register-link {
    color: #89B0AE;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.auth-sloth {
    position: absolute;
    top: -120px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 10;
    width: 200px;
    height: auto;
}

.eye-cover1 {
    position: absolute;
    width: 20px;
    height: 8px;
    top: -25px;
    left: 59px;
    border-radius: 30%;
    z-index: 20;
}

.eye-cover2 {
    position: absolute;
    width: 20px;
    height: 8px;
    top: -23px;
    left: 88px;
    border-radius: 30%;
    z-index: 20;
}

#eyes1 {
    width: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #333;
    overflow: hidden;
    top: 25%;
    left: 35%;
}

#eyes2 {
    width: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #333;
    overflow: hidden;
    top: 25%;
    left: 32%;
}