
.btn-plus {
  bottom: 11vh;
}

.pop-up {
  z-index: 5;
  max-height: 75vh;
}

.form-popup {
  max-height: 63vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.planner {
  margin-top: 9vh;
  height: 80%;
}

@media screen and (min-width: 768px) {
  .pop-up {
    max-height: none;
  }

  .form-popup {
    max-height: none;
  }
  .planner {
    height: 100%;
    margin: 0;
  }
  
}