
.btn-plus {
  bottom: 11vh;
}

.btn-settings {
  bottom: 17.8vh;
}

.pop-up {
  z-index: 5;
  max-height: 75vh;
}

.popup-square {
  width: 90%;
}

.form-popup {
  max-height: 63vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.planner {
  margin-top: 9vh;
  height: 80%;
}

.activity-title {
  color: #244476;
}

.btn-active {
  background-color: #244476;
  color: white;
}

.calendar-main {
  width: 95% !important;
}

.rbc-day-bg.virtual-day {
  background-color: #eaf6ff !important;
}

.rbc-today {
  background-color: transparent !important;
}

.rooms__control,
.rooms__option,
.rooms__multi-value__label,
.rooms__menu {
  font-size: 14px;
  height: auto;
}

.rooms__menu-list {
  max-height: 250px;
  overflow-y: auto;
}

.roomsDesktop__menu-list {
  height: 70px;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .pop-up {
    max-height: none;
  }
  .form-popup {
    max-height: none;
  }
  .planner {
    height: 100%;
    margin: 0;
  }
  
}