.btn-preview {
    margin: 0;
    border-radius: 0;
    background-color: transparent !important;
    padding: 15px 42px;
    border: none;
}

/* Carousel */

.carousel-div {
    flex-direction: column-reverse;
    max-width: 800px;
}

/* Card */

.card {
    background-color: #fdffff;
    height: 65vh;
    max-height: 500px;
    border-radius: 10px;
    width: 87vmin;
    word-wrap: break-word;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
}


@media screen and (min-width: 768px){
    .carousel-div {
        flex-direction: column;
    }

    .card {
        min-height: 200px;
        width: 30rem;
        max-height: 55vh;
        overflow-y: auto;
    }
}


@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
    
    .carousel-div {
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .divBtn4icon {
        display: none !important;
    }

    .divBtn {
        margin: 2px 0 5px 0 !important;
    }

    .menu-div {
        height: 100% !important;
    }

    .card {
        padding: 0 !important;
        min-height: 300px;
        height: 80vh;
    }

    .card h3 {
        font-size: 1.25rem;
        margin: 10px 0 0 0;
    }
}