.notifications-container {
    max-width: 60rem;
    padding-top: calc(2rem + 0.5rem + calc(1.375rem + 1.5vw) + 1rem) !important;
    padding-bottom: calc(0.9rem + 1rem + 3rem) !important;
}

.notifications-container.desktop {
    padding-top: calc(2rem + 3rem + 3rem) !important;
    padding-bottom: 1rem !important;
}

.notifications-container p {
    margin: 0;
}

.small-text {
    font-size: 0.9rem;
}

@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
    .notifications-container {
        padding-top: 5rem !important;
        padding-left: 4rem !important;
    }
}