/* calendar preview */

/*Calendar view*/
.react-calendar {
    max-height: 210px;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .event-indicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px;
  }
  
  .event-dot-blue {
    background-color: #2b59b6;
  }
  
  .event-dot-aqua {
    background-color:#42E2B8;
  }
  
  .event-dot-orange {
    background-color: #ffA500;
  }
  
  /* Legend */
  .legend {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .legend-item span {
    margin-left: 8px;
  }
  
  .event-dot-blue {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color:  #2b59b6;
  }
  
  .event-dot-aqua {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #42E2B8;
  }
  
  .event-dot-orange {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffA500;
  }
  
  /* List used for preview events/activities/notes/projects */
  .scrollable-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    overflow-y: auto;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .event-card {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
  }
  
  .event-border-blue {
    border-left: 5px solid #2b59b6;
  }
  
  .event-border-aqua {
    border-left: 5px solid #42E2B8;
  }
  
  .event-border-orange {
    border-left: 5px solid #ffA500;
  }
  
  /*postit style*/
  .div-postit {
    text-align: center;
    font-style: italic;
    color: #777;
    padding: 15px;
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .scrollableCalendar-list {
        max-height: 250px;
        padding: 10px;
    }
  
    .event-card {
        padding: 8px;
    }
  }

