.settings-button.button-clean {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0;
    right: 35px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}

.settings-button.button-clean svg {
    width: 32px;
    height: 32px; 
    transition: transform 0.3s ease-in-out;
}

.setting-button-small button.settings-button {
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    right: 0.5rem;
    top: 2rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1001;
}

.modal-content select[multiple] {
    height: 20vh;
}

label, h3 {
    color: #333;
}