.input-receiver {
    max-width: 75%;
}

.btn-add {
    background-color: #5dade2;
    color: #fff;
}

.btn-add:hover,
.btn-add:active,
.btn-add:focus {
    background-color: #2e86c1;
    color: #fff;
}

.close-small {
    font-size: 0.7rem;
}