.notifications-container {
    max-width: 60rem;
    padding-top: 10vh !important;
}

.notifications-container.desktop {
    padding-top: 12vh !important;
}

.notifications-container p {
    margin: 0;
}

.small-text {
    font-size: 0.9rem;
}

@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
    .notifications-container {
        padding-top: 5rem !important;
        padding-left: 4rem !important;
    }
}