.card.notification-card {
    height: auto;
    width: 100%;
}

.notification-card p {
    margin: 0;
    font-size: 1rem;
}

.notification-select {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    width: 7rem;
}

.notification-select button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    width: 100%;
}

.notification-select button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}