.div-pomodoro {
    padding-top: calc(2rem + 0.5rem + calc(1.375rem + 1.5vw));
    padding-bottom: calc(0.9rem + 1rem + 1.5rem);
}

.peek-div {
    width: 320px;
}

.btn-hover {
    border: none;
}

.pop-up-pomodoro {
    min-width: 350px;
}

@media screen and (max-height: 630px) {
    .div-timer {
        flex-direction: row !important;
        max-width: 70vw;
    }
    
    .div-btns {
        flex-direction: column !important;
        height: 100%;
    }
}
