.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FAF9F9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #555B6E;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-bottom: 20px;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.carousel .slide h2 {
  margin-bottom: 10px;
}

.carousel .slide p {
  margin: 0;
}

.hourglass{
  width: 100px !important;
  height: 100px;
}

.carousel-slide .react-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .App-logo {
    width: 40%;
  }

  .carousel-slide .react-calendar {
    height: 40%;
  }
  
}

.notes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.notes-section input, .notes-section textarea {
  width: 300px;
  max-width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.notes-section input {
  height: 40px;
}

.notes-section textarea {
  height: 100px;
}

.notes-section button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.notes-section ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.notes-section li {
  background: #f1f1f1;
  color: #000;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

.notes-section h3 {
  margin: 0;
  color: #333;
}

.notes-section p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 600px) {
  .notes-section input,
  .notes-section textarea {
    width: 90%; /* Reducing width for smaller screen */
  }

  .carousel-slide{
    height: auto;
  }

  .notes-section button {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  .react-calendar {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    align-items: center;
  }
  
  .react-calendar__month-view__days {
    display: flex;
    width: 100%; /* Occupa tutto lo spazio in larghezza */
  }
  
  .react-calendar__tile {
    margin-bottom: 10px; /* Spaziatura tra i giorni */
    width: 100%; /* I giorni occupano tutta la larghezza */
  }
}
