:root {
    --animation-duration-pencil: 10s;
    --animation-duration-line: 8s;
    --animation-delay-go: 2s;
    --animation-delay-back: 1s;
    --animation-running: running;
}

.pomodoro-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pomodoro-animation *{
    box-sizing:border-box;
}

.pomodoro-animation > div{
    width: 90%;
    height:70%;
    box-sizing:border-box;
    position:relative;
}
  
div > .pencil{
    bottom: 0;
    left: 50%;
    background:#555B6E;
    width:25px;
    height:15vh;
    border:none;
    border-radius:5px;
    position:absolute;
}

div > .study-pencil{
    animation: animaLapisStudy var(--animation-duration-pencil) linear forwards;
    transform-origin:center;
    animation-play-state: var(--animation-running);
}

div > .break-pencil{
    animation: animaLapisBreak var(--animation-duration-pencil) linear backwards;
    transform-origin:center;
    animation-play-state: var(--animation-running);
}
  
div > .pencil:before{
    content:"";
    width:25px;
    background: none;
    position:absolute;
    left: 0;
    bottom: 0;
    transform:translatey(100%);
    border:12px solid;
    border-top: 20px solid;
    border-color:#555B6E transparent transparent transparent;
    z-index:1;
}

div > .pencil:after{
    content: "";
    background: #5f9ea0;
    width:4px;
    height: 15px;
    position:absolute;
    left: 0;
    bottom:0;
    transform:translate(10.8px,20px);
    border-radius: 30px;
}
  
.conteudo{
    width:100%;
    position:absolute;
    background: #5f9ea0;
}

.conteudoStudy{
    height:90%;
    bottom:0;
    left: 0;
    animation: conteudoStudy var(--animation-duration-line) linear forwards;
    animation-delay: var(--animation-delay-go);
    animation-play-state: var(--animation-running);
}

.conteudoBreak{
    height:0%;
    left: 0;
    top: 10%;
    animation: conteudoBreak var(--animation-duration-line) linear forwards;
    animation-delay: var(--animation-delay-back);
    animation-play-state: var(--animation-running);
}
  
.lapisContent{
    content:"";
    width:100%;
    height:90%;
    left: 0;
    bottom: 0;
    position:absolute;
    background:#ccc;
}
  
.line{
    display: flex;
    height:3px;
    background:#5f9ea0;
    border-radius:20px;
    position: absolute;
    bottom: 0;
}

.lineStudy{
    width:0%;
    animation: lineStudy var(--animation-duration-line) linear forwards;
    animation-delay: var(--animation-delay-go);
    animation-play-state: var(--animation-running);
}

.lineBreak{
    width: 50%;
    animation: lineBreak var(--animation-duration-line) linear forwards;
    animation-delay: var(--animation-delay-back);
    animation-play-state: var(--animation-running);
}
  
  
@keyframes lineStudy{
    
    0%{width:0%}
    100%{width:50%}
}

@keyframes lineBreak{
    
    0%{width:50%}
    100%{width:0%}
}

@media screen and (max-width: 769px){
    div > .study-pencil{
        transform:rotate(20deg) translate(-3vw,-30px);
    }
    
    div > .break-pencil{
        transform:rotate(20deg) translate(-3vw,-30px);
    }

    @keyframes animaLapisStudy{
        0%{transform:translatex(-3vw) rotate(20deg) translatey(-30px)}
        10%{transform:translatex(-20vw) rotate(40deg) translatey(-2.5vh)}
        20%{transform:translatex(-46vw) rotate(0deg) translatey(-2.5vh)}
        90%{transform:translatex(4vw)  rotate(40deg) translatey(-1vh)}
        100%{transform:translatex(5vw) rotate(30deg) translatey(-1.5vh)}
    }
    
    @keyframes animaLapisBreak{
        0%{transform:translatex(5vw)  rotate(30deg) translatey(-1.5vh)}
        5%{transform:rotate(30deg) translateY(-30%)}
        8%{transform:translateX(60%) rotate(220deg) translateY(0%)}
        10%{transform:translateX(6vw) rotate(220deg) translateY(-1vh)}
        90%{transform:translateX(-37vw) rotate(220deg) translateY(-1vh)}
        100%{transform:translatex(-3vw) rotate(20deg) translatey(-30px)}
    }
    
}
  


@media screen and (min-width: 769px){
    div > .study-pencil{
        transform:rotate(20deg) translate(-30px,-3vw);
    }
    
    div > .break-pencil{
        transform:rotate(20deg) translate(-30px,-3vw);
    }

    @keyframes animaLapisStudy{
        0%{transform:translatex(-3vw) rotate(20deg) translatey(-30px)}
        10%{transform:translatex(-10vw) rotate(40deg) translatey(-2.5vh)}
        20%{transform:translatex(-21.5vw) rotate(0deg) translatey(-2.5vh)}
        90%{transform:translatex(0vw)  rotate(40deg) translatey(-0.5vh)}
        100%{transform:translatex(1.5vw) rotate(30deg) translatey(-1.5vh)}
    }
    
    @keyframes animaLapisBreak{
        0%{transform:translatex(1.5vw)  rotate(30deg) translatey(-1.5vh)}
        5%{transform:translateX(2vw) rotate(30deg) translateY(-30%)}
        8%{transform:translateX(2vw) rotate(220deg) translateY(0%)}
        10%{transform:translateX(2vw) rotate(220deg) translateY(-1vh)}
        90%{transform:translateX(-19vw) rotate(220deg) translateY(-1vh)}
        100%{transform:translatex(-3vw) rotate(20deg) translatey(-30px)}
    }
}


  
@keyframes conteudoStudy{
    0%{height:90%}
    100%{height:0%}
}

@keyframes conteudoBreak{
    0%{height:0%}
    100%{height:90%}
}

