/* Activities */
.container-activity-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  padding: 20px 0 11vh 0;
}

.activities-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.activities-layout {
  display: flex;
  flex-direction: column; /* Stack elements on top of each other by default */
}

.activities-list {
  flex: 1;
  padding-top: 20px;
  margin: 0;
  width: 100%;
}

.scrollable-Card-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 30vh;
  overflow-y: auto;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-activity-add form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* For larger screens */
@media (min-width: 700px) {
  .activities-page {
    flex-direction: row;
    align-items: start;
  }

  .activities-layout {
    flex-direction: row; /* Arrange calendar and list side by side */
  }

  .activity-card {
    width: 100%; /* Make cards take up full width on smaller screens*/
  }
  
  .container-activity-add {
    padding: 20px 0 0 0;
    width: 50%;
    height: 100%;
  }

  .container-activity-add {
    overflow-y: auto;
  }

  .scrollable-Card-list {
    height: 40vh;
  }
}

@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
  .activities-page {
    flex-direction: row;
    align-items: start;
  }

  .activities-layout {
    flex-direction: row; /* Arrange calendar and list side by side */
  }

  .activity-card {
    width: 100%; /* Make cards take up full width on smaller screens*/
  }
  
  .container-activity-add {
    padding: 20px 0 0 0;
    width: 50%;
    height: 100%;
  }

  .container-activity-add {
    overflow-y: auto;
  }

  .scrollable-Card-list {
    height: 40vh;
  }
}

.activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.activity-card {
  padding: 2vmin;
  margin: 10px 0;
  width: 90%;
  align-items: center;
  white-space: normal;
  box-shadow: #555B6E 0px 0px 7px;
  word-wrap: break-word;
}
