/*** Style Background ***/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #555B6E;
  font-family: Arial, sans-serif;
  color: #555B6E;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

/*** Style Header ***/

.App-header {
  display: flex;
  align-items: center;
  height: 10%;
  margin: 5px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  white-space: nowrap;
  font-size: 10vmin;
  color: #FAF9F9;
  font-weight: bold;
}

.App-logo {
  height: 15vmin;
}

/*** Style Body ***/

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 90%;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

/* Style Buttons */

.divBtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  margin: 10px 0;
}

.btn,
.btn2 {
  padding: 6px 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.btn:hover {
  background-color: #f39252;
}

.btn:active {
  background-color: #f39252;
}

.btn {
  background-color: #89B0AE;
}

.btn2 {
  background-color: #f39252;
}

.btn2:hover {
  background-color: #FFD6BA;
}

.btn2:active {
  background-color: #FFD6BA;
}

.icon {
  height: 10vmin;
  max-height: 30px;
  width: 10vmin;
  max-width: 30px;
}

/*** Style tmp Calendar ***/

@media (max-height: 700px) {
  .react-calendar {
    height: 44vh;
  }

  .react-calendar__viewContainer {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
  }
  
  .react-calendar * {
    font-size: 1.5vw;
    height: 5.2vh;
  }

  .react-calendar__navigation {
    height: 3vh!important;
    margin-bottom: 2px !important;
  }
  
  .react-calendar__viewContainer *{
    height: 5.7vh
  }
  
  .react-calendar__tile {
    padding:0 !important;
  }
}


/* light background */ 

.light-background {
  background-color: #FAF9F9;
  transition: background-color 0s ease;
}

.dark-h1{
  color: #555B6E;
}

/* time machine */

.div-time-machine {
  position: fixed;
  z-index: 1000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.btn-time-machine {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F39252;
  border: 2px solid #555B6E;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: move;
}

.btn-time-machine:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.icon-time-machine {
  height: 40px;
}

/* Nascondi il contenuto quando in modalità landscape */
/*** 
@media screen and (orientation: landscape) AND (max-height: 840px) {
  .App {
    display: none;
  }

  .landscape-warning {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    color: red;
  }
}***/

/*hides scrollbar on Webkit (Chrome, Safari) */
.scrollable-list::-webkit-scrollbar {
  display: none;
}

/*hides scrollbar on Firefox */
.scrollable-list {
  scrollbar-width: none;
}

/*hides scrollbar on Internet Explorer e Edge */
.scrollable-list {
  -ms-overflow-style: none;
}


/* Zoom animation */
@keyframes zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

.zoom-in {
  animation: zoom 0.3s forwards;
}

.popup,
.popup-delete {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 250px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.popup {
  width: 80%;
  justify-content: space-around;
}

.popup-delete {
  width: 100%;
  justify-content: center;
}

.popup h2,
.popup p {
  font-size: 1rem;
  margin-bottom: 2%;
}







@media screen and (min-width: 700px){
  .title h1 {
    font-size: 7vmin;
    padding-right: 1vmin;
  }
  
  .App-logo {
    height: 11vmin;
  }

  .App-body {
    justify-content: center;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  .btn {
    padding: 10px 15px;
  }

  .popup,
  .popup-delete {
    height: 280px;
    top: 50%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1036px){
  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
  .App-header {
    display: none;
  }

  .App-body {
    width: 90%;
    height: 100%;
    align-self: end;
  }

  h2 {
    font-size: 1rem;
  }
  
  .icon {
    height: 5vmin;
    width: 5vmin;
  }

  .btn {
    font-size: 4vmin;
  }

  .divBtn {
    margin: 5px 0;
  }
}

/***
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}***/