.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FAF9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #555B6E;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  width: 370px;
}

h1 {
  margin-bottom: 20px;
  font-size: 3rem !important;
  color: #555B6E !important;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem !important;
  color: #555B6E !important;
}

p {
  margin: 0;
  font-size: 1rem !important;
  color: #555B6E !important;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.carousel .slide h2 {
  margin-bottom: 10px;
}

.carousel .slide p {
  margin: 0;
}

.note-image {
  max-width: 100px !important;
  height: 100px;
}

.hourglass{
  max-width: 100px !important;
  height: 100px;
}

.carousel-slide .react-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

/***
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}***/

/* buttons style */
.btn {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #89B0AE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f39252;
}

.btn:active {
  background-color: #f39252;;
}

.btn-duplicate {
  background-color: #BEE3DB;
}

.btn-duplicate:hover {
  background-color: #FFD6BA;
}

.divBtn {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

/* Events */
.events-section {
  padding: 20px;
}

.events-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Notes*/
.notes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.notes-section input, .notes-section textarea {
  width: 300px;
  max-width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.notes-section input {
  height: 40px;
}

.notes-section textarea {
  height: 100px;
}

.notes-section button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.note-card {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Media Queries */
@media (max-width: 840px) {
  .App-logo {
    height: 15vmin;
    width: 18vmin !important;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  .title {
    justify-content: center;
  }

  h2 {
    font-size: 1.2rem !important;
  }

  .notes-section input,
  .notes-section textarea {
    width: 90%; /* Reducing width for smaller screen */
  }

  .notes-section button {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  .react-calendar {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    align-items: center;
  }
  
  .react-calendar__month-view__days {
    display: flex;
    width: 100%; /* Occupa tutto lo spazio in larghezza */
  }
  
  .react-calendar__tile {
    margin-bottom: 10px; /* Spaziatura tra i giorni */
    width: 100%; /* I giorni occupano tutta la larghezza */
  }

  .App-logo {
    width: 40%;
  }

  .carousel-slide .react-calendar {
    height: 40%;
  }

  .carousel_structure{
    height: 100%;
    width: 100%;
  }
}
