.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FAF9F9;
    width: 30rem;
    height: 94%;
    padding: 0 2rem 0 2rem;
    border-radius: 10px;
    }

.card h2 {
    margin: 0;
    margin-top: 1rem;
    }

.card p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    }

.card .btnn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.inCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 94%;
    }

@media (max-width: 840px) {
    .card {
        width: 19rem;
        height: 80%;
    }

    .carousel {
        width: 97% !important;

    }
}