
.carousel-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    height: 85%;
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAF9F9;
    height: 65vh;
    max-height: 500px;
    padding: 0 0.5rem;
    border-radius: 10px;
    width: 80vmin;
    word-wrap: break-word;
}

.card h2 {
    margin: 0;
    margin-top: 1rem;
}

.inCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 94%;
}

.divBtn4icon {
    display: none;
}

@media (max-height: 700px) {
    .card {
        height: 95%;
    }
}

@media screen and (min-width: 700px){
    .carousel-div {
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 88%;
    }

    .card {
        height: 95%;
        padding: 0 1rem;
        width: 30rem;
        max-height: none;
    }

    .divBtn4icon {
        display: flex;
    }
}

@media screen and (min-width: 601px) and (max-width: 1036px){
    .carousel-div {
        width: 80%;
    }
}


@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
    .App-body {
        justify-content: end;
    }

    .carousel-div {
        height: 95%;
        flex-direction: column;
    }

    .divBtn4icon {
        display: none;
    }

    .card {
        height: 98%;
    }
}