/* Events */

.container-events-add,
.date-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-events-add {
  padding: 20px 0 11vh 0;
}

.container-events-add form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calendar-container {
  width: 95%;
}

.time-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

input {
  padding: 5px;
  margin: 5px;
}

@media screen and (min-width: 700px){
  .Event {
    flex-direction: row;
    align-items: start;
  }

  .div-calendar-container,
  .container-events-add {
    padding: 20px 0 0 0;
    width: 50%;
    height: 100%;
  }

  .time-filter {
    width: 60%;
  }

}

@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
  .Event {
    flex-direction: row;
    align-items: start;
  }

  .div-calendar-container,
  .container-events-add {
    padding: 20px 0 0 0;
    width: 50%;
    height: 100%;
  }

  .div-calendar-container {
    width: 95%;
  }

  .calendar-container {
    width: 95%;
  }

  .container-events-add {
    overflow-y: scroll;
  }

  .time-filter {
    width: 60%;
  }

  input {
    width: 50%;
  }

  label {
    margin: 0;
  }
}

