
.posts-list {
    width: 100%;
    max-width: 400px;
    overflow: auto;
    padding-bottom: 100px;
}

.posts-list h3 {
    font-size: 17px;
    font-weight: bold;
}

.posts-list h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.posts-list h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}

.sorting-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 15px 0;
}

.sorting-options label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 0;
}

.post {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 10px;
}

.post p {
    margin: 0;
}

.post-title,
.post-functions,
.comment-title,
.comment-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.post-title img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.post-title h3,
.post-title p{
    margin: 0;
}

.post-functions {
    font-size: 15px;
}

.post-functions .liked {
    color: #1C274C;
}

.post-image,
.map.post {
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.post-image {
    height: 200px;
    margin: 6px auto;
}

.map.post {
    opacity: 1;
    height: 150px;
    box-shadow: none;
    margin: 0 auto 6px auto;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Heart animation */
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
}

.heart-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 2px;
}

.heart-icon.animate {
    animation: heartBeat 0.5s ease-in-out;
}

.post-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    background-color: #FAF9F9;
}

.post-comments.show {
    max-height: 200px;
    visibility: visible;
    transition: max-height 0.5s ease-out;
    overflow: auto;
    padding: 0 10px 20px 10px;
}

.post-comments p {
    font-size: 0.9rem;
    margin: 0;
}

.post-comments span {
    display: flex;
    text-align: left;
    font-size: 15px;
}

.comment {
    padding: 15px;
    border-radius: 10px;
    /*border: 1px solid #555b6e;*/
    background-color: #e7e7e7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-title {
    padding: 0;
    height: 20px;
}

.new-post,
.new-comment {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.new-post {
    position: relative;
    flex-direction: row;
}

.new-comment {
    margin: 0;
    padding: 10px 0;
}

.new-post textarea,
.new-comment textarea{
    border-radius: 10px;
    padding: 10px;
}

.new-post textarea {
    width: 100%;
    height: 90px;
    border: 0;
}

.new-post textarea:focus {
    outline: none;
    border: none;
}

.new-comment textarea {
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
}

.new-comment textarea:focus {
    outline: none;
}

.post-text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    height: 135px;
}

.post-text.bigger {
    height: 205px;
}

.post-text.bigger2 {
    height: 275px;
}

.post-text.bigger2 textarea{
    height: 70px;
}

.link-map {
    font-size: 12px;
    text-align: left;
    margin: 5px 20px;
}

.post-input {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    bottom: 10px;
    left: 20px;
}

.input-image {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    opacity: 0.5;
    border-radius: 5px;
}

.delete-image,
.delete-map {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.delete-image {
    bottom: 82px;
    left: 46px;
}

.delete-map {
    bottom: 145px;
    left: 220px;
    z-index: 1000;
}

.post-input img:hover,
.delete-image:hover {
    cursor: pointer;
}

.map {
    width: 230px;
    height: 125px;
    border-radius: 5px;
    margin-left: 20px;
    opacity: 0.5;
}

.small-img {
    height: 25px;
    width: 25px;
}

.smaller-img {
    height: 23px;
    width: 23px;
}

.share-options {
    display: flex;
    gap: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    width: 300px;
    text-align: center;
}

.modal-content h3 {
    font-weight: bold;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #555B6E;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.share-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.share-button {
    padding: 10px;
    background-color: #89B0AE;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.load-more-btn {
    display: block;
    margin: 20px auto;
    padding: 7px 18px;
    color: #555B6E;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.load-more-btn:hover {
    color: #1C274C;
    background-color: #dfdfdf;
}

@media screen and (min-width: 700px){
    .posts-list {
        padding-bottom: 0;
    }

    .close:hover,
    .close:focus {
        color: #FFF;
        text-decoration: none;
        cursor: pointer;
    }

    .share-button:hover {
        background-color: #44485a;
    }

    .posts-list {
        max-width: 500px;
    }
}