
.notifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding-bottom: 100px;
}

.notifs h5{
    margin-bottom: 20px;
    font-weight: bold;
}

.notif {
    width: 90%;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, max-height 1s ease, margin-bottom 1s ease, padding 1s ease;
}

.notif p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.notif.disappearing {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    padding: 0;
}

.notif-button {
    background-color: #FFC857;
}

.notif-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555B6E;
    color: #FAF9F9;
    height: 40px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.notif-title h6 {
    margin: 0;
}

.new-notif {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.new-notif input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0;
}

.new-notif textarea {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.add-receiver {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 90%;
}

.receivers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-bottom: 1rem;
}

.receiver-tag {
    display: flex;
    justify-content: center;
}

.remove-receiver-button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: #555B6E;
    margin-left: 7px;
}

.text-notif {
    width: 100%;
}

@media screen and (min-width: 700px){
    .notifs {
        padding-bottom: 0;
    }
}