.notification-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px 0;
}

.notification-row label {
    margin: 0;
}

.custom-time {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 87%;
}

.custom-time input {
    width: 45%;
    margin: 10px 0;
}

.input-small input {
    height: 15px;
    margin: 10px 0;
}