
.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAF9F9;
    height: 65vh;
    padding: 0 0.5rem;
    border-radius: 10px;
    width: 80vmin;
    word-wrap: break-word;
    position: relative;

}

.btn-cross {
    display: flex;
    background-color: inherit;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-cross:hover,
.btn-cross:active {
    background-color: #f39252;
}

.icon-cross {
  height: 27vh;
  max-height: 37px;
}

@media screen and (min-width: 700px){

    .card-settings {
        height: 70%;
        padding: 0 1rem;
        width: 30rem;
    }
}


@media screen and (max-width: 932px) and (orientation: landscape) and (max-height: 700px) {
    .card-settings {
        height: 70%;
    }
}